apiVersion: v1
kind: Secret
metadata:
  name: fcg-payments-worker-secrets
type: Opaque
stringData:
  payments-api-internal-token: "super-secret-token"
  aws-access-key: "AKIAXXXXXXXXXXXXXXXX"
  aws-secret-key: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

