apiVersion: v1
kind: Service
metadata:
  name: fcg-payments-worker
  labels:
    app: fcg-payments-worker
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: fcg-payments-worker

