apiVersion: v1
kind: Service
metadata:
  name: payments-worker-service
  namespace: payments-worker
  labels:
    app: payments-worker
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: payments-worker
